Factory-Databricksss/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "Factory-Databricksss"
		},
		"AzureDatabricksConexao_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'AzureDatabricksConexao'"
		},
		"AzureDatabricksConexao_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0424-201914-s3kvpqj3"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline-Formula1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Silver_Driver_Details",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/kleber-goes@hotmail.com/Pipeline-Formula1-Azure_Databricks/Arquitetura_Medalhao/1. Camada Silver/Driver_Details"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksConexao",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Silver_Race_Results",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/kleber-goes@hotmail.com/Pipeline-Formula1-Azure_Databricks/Arquitetura_Medalhao/1. Camada Silver/Race_Results"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksConexao",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Gold_Indice_Vitorias_Por_Piloto",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Silver_Driver_Details",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Silver_Race_Results",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/kleber-goes@hotmail.com/Pipeline-Formula1-Azure_Databricks/Arquitetura_Medalhao/2. Camada Gold/Índice de Vitórias por Piloto"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksConexao",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksConexao')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksConexao')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3808358314197275.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksConexao_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricksConexao_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerFormula')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Pipeline-Formula1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-05-03T19:51:00",
						"endTime": "2025-05-04T22:42:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Pipeline-Formula1')]"
			]
		}
	]
}